
nav, nav a {
  background: black;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* .image-text {
  position: absolute;
  right: 0;
  left: 5%;
  bottom: 0;
  color: white;
  max-width: 100%;
}

.image-text-wrapper {
  position: relative;
}

.image-text-wrapper img {
  width: 100vw;
  height: auto;
  object-fit: cover;
} */

.arrange-list {
  display: inline-block;
  margin: 10px;
  width: 350px;
  height: 350px;
}
​
.myButton {
  background: black;
  color: white;
  width: 100px;
  height: 30px;
}
​
.description {
  background: black;
  color: white;
}
​
.center{
  text-align: center;
}

.list-image-text{
  position: absolute;
  right: 5%;
  left: 5%;
  bottom: 0;
  color: white;
  max-width: 100%;
  font-size: 16px;
}

.list-image-text-wrapper {
  position: relative;
}

.list-image-text-wrapper img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
