
nav, nav a {
  /* #title */
  width: 100%;
  background: black;
  color: white;
  font-size: 30px;
  padding: 2%;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #000000 0%, #FFFFFF 100%);
  background: -moz-linear-gradient(to bottom, #000000 0%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #000000 0%, #FFFFFF 100%);
  -webkit-text-fill-color: transparent;
}  
  .image-text {
  position: absolute;
  right: 0;
  left: 5%;
  bottom: 0;
  color: white;
  max-width: 100%;
}

.image-text-wrapper {
  position: relative;
}

.image-text-wrapper img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.arrange-list {
  display: inline-block;
  margin: 10px;
  width: 350px;
  height: 350px;
}
​
.myButton {
  background: black;
  color: white;
  width: 100px;
  height: 30px;
}
​
.description {
  background: black;
  color: white;
}
​
.center{
  text-align: center;
}

.list-image-text{
  position: absolute;
  bottom: 0;
  color: rgb(16, 15, 15);
  max-width: 100%;
  font-size: 16px;
  padding: 2%;
  background-color: wheat;
}

.list-image-text-wrapper {
  position: relative;
}

.list-image-text-wrapper img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}