
.detail-container{
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1070&q=80);
}

nav, nav a {
  display: flex;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  top: 0;
  left: 0;
  right: 0;
}

.image-text {
  position: absolute;
  width: 99%;
  border-radius: 5px;
  left: 0px;
  bottom: -7px;
  color: black;
  max-width: 100%;
  font-size: 14px;
  padding: 0.5%;
  text-align: center;
  background-color: rgba(255, 255, 255);
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}

.image-text-wrapper {
  position: relative;
}

.image-text-wrapper img {
  width: 98vw;
  height: auto;
  object-fit: cover;
  margin-right: 0px;
  margin-top: 15px;
  border-radius: 20px;
}

.description {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  border: solid white 1px;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.myButton {
  background: black;
  color: white;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.arrange-list {
  flex: 1 1 160px;
  margin: 10px;
}

.center{
  text-align: center;
}

.list-image-text{
  position: absolute;
  bottom: -6px;
  width: 100%;
  color: black;
  font-size: 14px;
  padding: 2%;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'Titillium Web', sans-serif;
}

.list-image-text-wrapper:hover .list-image-text{
  background: rgba(255, 255, 255);
}

.list-image-text-wrapper {
  position: relative;
}

.list-image-text-wrapper img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
